* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

header {
    background-color: #1f2937;
    color: #fff;
    width: 100%;
    padding-bottom: 50px;
}
#nav {
    display: flex;
    align-items: center;
    padding: 2em;
}
#nav .nav-brand h1 {
    font-size: 1.5em;
    padding: .2em .5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    
    
}

.nav-brand-flex {
    /* border: 1px solid red; */
    padding: .2em;
    display: flex;
    flex-direction: column;
}

#nav .nav-brand h1 .ambassador {
    font-size: 2.3em;
    padding-left: .5em;
    line-height: 1.5em;
}

.nav-brand .nav-link {
    padding: 0;
    font-size: 1em;
    text-decoration: none;
    margin: 0;
    display: flex;
    flex-direction: row;
}

/* #nav .fa-rectangle-code {
    color: #fff;
    background-color: green;
} */

#nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 35em;
    /* flex: .8 .2 .5em; */
}
#nav ul li {
    padding: 1em 1.5em;
    list-style-type: none;
}
#nav ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

#nav ul li a:hover {
    content: "";
    border-bottom: 2px solid #fff;
    color: rgb(66, 122, 225);

}
#nav ul li a:active {
    color: rgb(66, 122, 225);
}


/**************** Hero ****************/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3em 2em;
    padding: 0 1em;

}

.hero .hero-text {
    /* border: 2px solid yellow; */
    margin-top: -5em;
    padding: 2em 2em;
}
.hero .hero-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3em;
    padding: 0 .3em;
}

.hero .hero-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding: .4em;
}

.hero-text .hero-caption p {
    margin: .1em 0;
    padding: 10px 7px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
a {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5em;
    color: #fff;
    
}
.call-action {
    padding: 20px 7px;
}
.call-action a {
    padding: .7em .9em;
    text-decoration: none;
    border-radius: 10px;
    /* background-color: #3882f6; */
    background-color: #0078d4;
    font-weight: 700;
    margin: 0 0;
}

.call-action a:hover {
    /* background-color: #0367b4; */
    background-color: #203a61;
    border: 5px solid #0078d4;
}

.mlsa-logo-atu {
    /* border: 20px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-left: 2em ;
    padding: 1em;
}
.mlsa-logo-atu .atu-logo {
    width: 70%;
    margin-top: 30px;
}
.mlsa-logo-atu .mlsa-logo {
    width: 110%;
}

/**** Header Media Queries *****/

@media only screen and (max-width:600px) {
    header {
        width: 100%;
    }

    #nav {
        display: flex;
        padding: 1em;
    }

    #nav .nav-brand h1 {
        font-size: 1.3em;
        /* padding: 0 0em; */
    }

    #nav .nav-brand h1 .ambassador {
        font-size: 2em;
        padding-left: .1em;

    }

    .nav-brand .nav-link {
        font-size: 1em;
    }

    #nav ul {
        display: flex;
        justify-content: end;
        align-items: end;
        padding: .7em .7em .5em 8em;
        flex-direction: column;

    }

    #nav ul li {
        padding: .8em;
        list-style-type: none;
    }

    #nav ul li a {
        font-size: 1.2em;
    }

    /********** End of Nav Bar *******/

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        border: 1px solid #fff;

    }

    .hero .hero-text  {
        margin-top: -2.5em;
        padding: 1.2em;
    }

    .hero .hero-text h1 {
        font-size: 2.9em;
        font-weight: 700;
        line-height: 1.25em;
        text-align: left;

    }

    .hero .hero-text h2 {
        font-size: 1.5em;
        text-align: left;
    }

    .hero-text .hero-caption p {
        margin: .05em;
        line-height: 1.6em;
        text-align: left;
    }

    a {
        font-size: 1.25em;
    }

    .call-action {
        padding: 1em 1em;
    }

    .call-action a {
        padding: .7em 2em;
    }

    .mlsa-logo-atu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 1.8em;
        padding-top: -2em;
    }

    .mlsa-logo-atu .mlsa-logo {
        max-width: 200px;
        object-fit: cover;
        display: block;
    }

    .mlsa-logo-atu .atu-logo {
        max-width: 160px;
    }
}
/******** End of Media Queries 600px ********/


/******************* Profile Section  ********************/

#profile {
    /* background-color: #0367b4; */
    background-color: #50e6ff;
    padding: 4em 5em;
    
}

#profile h1 {
    font-size: 4.5em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-align: center;
}

#profile .my-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    
}

.my-profile img {
    width: 500px;
    margin: 0 2.1em;
    border-radius: 30px;
    border: 10px solid rgba(146, 58, 212, 0.8);
}

.profile-txt .text-bg {
    background-color: #0078d4;
    padding: 3em;
    border-radius: 10px;
    border: 10px solid rgba(224, 212, 88, 1);
    font-family: 'Poppins', sans-serif;
}

.profile-txt p {
    color: #fff;
    font-size: 1.2em;
    text-align: left;
}

.profile-txt p b {
    font-size: 1.5em;
    font-weight: 700;
}


/************ Profile Media Queries *******/

@media only screen and (max-width:600px) {
    
    #profile {
        padding: 1.5em;
    }

    #profile h1 {
        font-size: 3.5em;
        color: #000;
        text-align: center;

    }

    #profile .my-profile {
        display: flex;
        flex-direction: column;
        padding: 2em 0;
    }

    .my-profile img {
        display: block;
        max-width: 350px;
        object-fit: cover;
    }

    /* .my-profile {
        padding: 2em;
    } */

    .profile-txt {
        max-width: 385px;
        display: block;
    }

    .profile-txt p {
        font-size: 1.1em;
        line-height: 1.65em;
    }

    .profile-txt {
        padding: 2em 1em;
    }

    .profile-txt p b {
        font-size: 1.3em;
        font-weight: 900;
    }
}

/********** End of Profile 600px media queries ******/





/****   Events Media Queries   ****/

#events {
    background-color: rgba(146, 199, 138, 0.31);
    padding: 1.2em 3em;
    width: 100%;
}

.collasped-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding-bottom: 4.5em;
}

.row-events h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    padding: 1.2em 0;
    text-align: center;
    color: hsl(223, 71%, 41%);
}

.flyer-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    /* margin: 20px 20px; */
}

.flyer-card img {
    /* width: 400px; */
    border-radius: 15px 15px 0 0;
    max-width: 100%;
    display: block;
    object-fit: cover;

}

.card-content {
    width: 400px;
    /* background-color: rgb(41, 80, 255); */
    border-radius: 0 0 15px 15px;
    background-color: hsl(223, 47%, 23%);
}

.card-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    padding: .4em 1.5em;
    color: #fff;
    
}

.card-content p {
    padding: .3em 2em;
    font-size: 20px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    font-weight: 60;
}

.flyer-card .card-btn {
    /* border: 1px solid red; */
    padding: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flyer-card .card-btn a {
    text-align: center;
    padding: .8em 4em;
    background-color: #50E6FF;
    text-decoration: none;
    border-radius: 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    color: #000;
}

.flyer-card .card-btn a:hover {
    background-color: #58c8dc;
    color: #fff;
}

/****  Events Media Queries  ****/

@media only screen and (max-width:600px) {
    .collasped-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .row-events {
        margin-top: -1.8em;
        margin-bottom: .9em;
    }

    .row-events h1 {
        font-size: 2.5em;
        color: hsl(223, 71%, 41%);
    }

    .flyer-card img {
        max-width: 400px;
        object-fit: cover;
        display: block;
    }

    .card-content p {
        line-height: 1.29em    ;
    }
}

/******** End of Events 600px Media Quesries ****/

/******** Memeories Section  ************/
#memories-img {
    padding: 4.5em 2em;
    /* border: 3px solid red; */
    background-color: #76a0f4;
    width: 100%;

}

.admin-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-img img{
    width: 390px;
    height: auto;
    margin: 1.5em;
    border: 10px solid #ffc623;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;

}

#memories-img .about-quote {
    border: 10px solid rgba(146, 58, 212, 0.8);
    padding: 5em;
    background-color: #ffc623;
    margin: 0 1em;
    border-radius: 20px;
    
}

#memories-img 
.about-quote 
.quote-main > p {
    color: #000;
    font-size: 1.5em;
    line-height: 1.5em;

}

#memories-img 
.about-quote 
.quote-main > small {
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
    font-family: 'Red Hat Display', sans-serif;
    padding: 2em 0;
    

}

/**** Memories IMG Media Queries  ****/

@media only screen and (max-width: 600px) {

    .admin-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .admin-img img {
        display: block;
        object-fit: cover;
        max-width: 100%;
        border-radius: 20px;
    }

    #memories-img .about-quote {
        display: block;
        padding: 2em;
    }

    #memories-img 
    .about-quote 
    .quote-main > p {
        line-height: 1.39em;
        border-radius: 20px;
        text-align: center;
    }

}


/**** Footer Section ****/

footer {
    background-color: #1f2937;
    padding: 1.5em 2em;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.first-part-socials {
    /* border: 2px solid #fff; */
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-part-socials h2 {
    font-size: 2.5em;
    color: #fff; 
    padding: 1em;
}

.media-handles ul {
    list-style-type: none;
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.media-handles ul > li {
    line-height: 1.8em;
    padding: .5em;
    border-right: .2em solid #0078d4;
    
}

.media-handles ul > li:last-child {
    border: none;
}


.media-handles ul li a {
   display: block;
   /* border: 1px solid red; */
   padding: .5em 1em;
   font-size: 1.3em;
   text-align: center;
}

.media-handles ul li a:hover {
    color: #3882f6;
}

.media-handles ul li a:visited {
    color: #ffc623;
}

.media-handles ul li a:active {
    color: #50E6FF;
}

.media-handles li i {
    color: #fff;
    padding: 0 .3em;
    font-size: 1.5em;
}

.first-part-apply {
    padding: 1em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 2em;
    margin: 1em 8em;
    border-radius: 20px;
    border-top: 3px solid #fff;
}

.first-part-apply h2 {
    font-size: 1.7em;
    padding: .8em .8em;
}

.first-part-apply .website-url {
    /* background-color: #166df9; */
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #3882f6;
    
}

.first-part-apply .website-url:hover {
    background-color: #1268f2;
}

.first-part-apply 
.website-url a {
    font-size: 1.4em;
    text-decoration: none;
    padding: .5em 1em;
    font-weight: 500;
    display: block;
}

.first-part-apply 
.website-url a:hover {
    color: #000 !important;
    font-weight: 900;
}

/******* End of Socail Handles *****/

@media only screen and (max-width: 600px) {


    .first-part-socials {
        padding-top: -2em;
    }

     .first-part-socials h2 {
        font-size: 1.6em;
    }

    .first-part-socials
    .media-handles ul {
        list-style-type:disc;
        display: flex;
        color: #fff;
        flex-direction: column-reverse;
    }

    .media-handles ul > li {
        line-height: 0;
        padding: .1em 0em;
        border-right: none;
        margin: .8em 0;
        /* border: 1px solid #fff; */
    }

    .media-handles ul li > a {
        display: block;
        padding: .2em .2em;
    }

    .first-part-apply {
        color: rgb(242, 242, 242);
        display: flex;
        flex-direction: row;
        padding: 1em 2em;
        margin: 0;
    }

    .first-part-apply h2 {
        font-size: 1em;
        padding: .5em .1em;
        /* border: 2px solid red; */
        display: inline !important;
        word-wrap: normal;
        margin-right: 0;
        text-align: center;
       
    }

    .first-part-apply 
    .website-url a {
        font-size: .8em;
        text-decoration: none;
        padding: .2em .5em;
        display: block;
        text-align: center;
    } 
    
}



/*************** Developers sections   ************************/

.developers {
    border-top: 2px solid #fff;
    padding: 2em;
    margin: .8em;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px 10px 0 0;
}

.developers h1 {
    text-align: center;
    color: #fff;
    padding: 1em;
    font-size: 2em;
    font-weight: 900;
}

.collasped-devs .dev-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid #fff; */
}

.dev-flex img {
    width: 300px;
    margin-bottom: -.4em;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}

.dev-flex .dev-one {
    padding: 1em 5em;
    
}

.dev-flex .dev-card-body {
   width: 300px;
   background-color: hsl(225, 100%, 94%);
   text-align: center;
   height: 9.8em;
   border-radius: 0 0 15px 15px;
}

.dev-flex .dev-card-body h2 {
    font-size: 1.5em;
    padding: .5em;

}

.dev-flex .dev-two {
    display: flex;
    flex-direction: column;
    
}

.dev-btn {
   margin-top: 2.5em;
   margin-bottom: auto;
}

.dev-flex .dev-card-body a {
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #3882f6;
    padding: .4em .7em;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

.dev-flex .dev-card-body a:hover {
    background-color: #1c66df;
}

.dev-flex .dev-card-body a .fa-brands {
    color: #fff;
    font-size: 1em;
}


/********* Developers

